@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --font: 'Ubuntu', sans-serif;
  --regular: 400px;
  --light: 300px;

  --gutter: 1em;
  --global-gutter: 5px calc(var(--gutter) * 3);

  --color-one: #ff7315;
  --color-two: #f4f4f4;
  --color-three: #3a3535;
  --color-four: #232020;

  --color-white: #fff;
  --color-black: #000;
}

body{
  font-family: var(--font);
  min-height: 100vh;
  background-color: var(--color-two);
}

a{
  text-decoration: none;
  color: var(--color-one);

  &:hover{
    text-decoration: underline;
  }
}
// btn
.btn{
  font-size: 2rem;
  transition: transform .3s;
  &:hover{
    transform: scale(1.1);
  }
}

// Navegacion
.navigation{
  background-color: var(--color-four);
  padding: var(--global-gutter);
  display: flex;
  align-items: flex-end;

  &__logo{ 
    font-size: 2rem;
    color: var(--color-two);
  }
  
  .list{
    list-style: none;
    display: flex;
    padding-bottom: 5px;
    &__item{ margin-left: var(--gutter);}
  }
}

// headers
.head{
  padding: var(--global-gutter);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
  &__title{
    color: var(--color-four);
  }
}
//contenedores
.container{
  padding: var(--global-gutter);
}
// botones

.card{
  position: relative;
  margin-bottom: var(--gutter);
  
  &__data{
    display: flex;
    background-color: var(--color-white);
    padding: var(--gutter);
    border-radius: 5px;
    transition: transform .5s;
    color: var(--color-four);

    &:hover{
      text-decoration: none;
      transform: scale(1.01);
    }

    &__img{
      margin-right: var(--gutter);
      border-radius: 5px;
    }

    &__container{
      &__name{
        font-size: 1.5rem;
        color: var(--color-one);
        font-weight: var(--regular);
      }
    }
  }

  &__operations{
    position: absolute;
    right: var(--gutter);
    bottom: var(--gutter);
  }
}

// Estilos apartes
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// show
.element{
  display: flex;
  padding: var(--global-gutter);

  &__img{
    display: inline-block;
    width: 200px;
  }

  &__data{
    margin-left: var(--gutter);
  }
}